*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    font-size: 15pt;
    transform: translate(-50%,-50%);
    overflow: hidden;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s width ease-in;
    border: 1px solid grey;
}

.checkout{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transition: top 1s ease;
    font-size: 15px;
}

.check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-300%);
    transition: 1s transform ease;
    font-size: 25px;
}

.checkout-animate{
    top: 100px;
}

.check-animate{
    transform: translate(-50%,-50%);
    animation: boing ease 0.4s;
    animation-delay: 1s;
}

.btn-animate{
    width: 100px;
    animation: btn-bounce ease 0.4s;
    animation-delay: 1s;
}


@keyframes boing {
    0%{
        transform: translate(-50%,-50%);
    }
    50%{
        transform: translate(-50%,-50%) scale(150%);
    }
}


@keyframes btn-bounce {
    0%{
        transform: translate(-50%,-50%);
    }
    50%{
        transform: translate(-50%,-50%) scaleX(150%);
    }
    100%{
        transform: translate(-50%,-50%) scaleX(100%);
    }
}